.upload-section{
    background: white;
    padding: 10px;
    border-radius: 18px;

    box-shadow: 0 2px 12px rgba(23, 23, 23, 0.5);
}

.upload-section h2{
    font-size: 28px;
    color: #0f172a;
    margin-bottom: 20px;
}
.upload-section p{
    color: #64748b;
    font-size: 17px;
    margin-bottom: 25px;
}
/* Upload Button */
.upload-btn{
    background: #2563eb;
    color: white;
    border: none;

    padding: 12px 20px;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.3s;
}
.upload-btn:hover{
    background: #1d4ed8;
}

label {
    width: 300px;
}
